<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vikingesejllog">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".other.AppInfoActivity"></activity>
        <activity android:name=".etape.crew.CrewListViewOnly" />
        <activity
            android:name=".note.NoteDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".note.NoteList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".togt.CreateTogt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".note.CreateNote"
            android:screenOrientation="portrait" />
        <activity
            android:name=".etape.crew.CrewList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".togt.TogtList"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".etape.CreateEtape"
            android:screenOrientation="portrait" />
        <activity
            android:name=".note.AudioPlayer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".note.AudioRecorder"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>